.DS_Store
.idea
imgui.ini
cmake-*
ImportExecutables-*.cmake
/out*
dist
dist-*
toolchains
filament/docs/html/**
.vscode
*tmp*.png
civetweb.txt
/TAGS
settings.json
test*.png
test*.json
results

filament/filament.dir
filament/generated
filament/test
filament/*/Debug
libs/
filament/*/*.dir
filament/backend
filament/benchmark
filament/*.vcxproj*
*.vcxproj*
CMakeFiles
samples
third_party
tools
shaders
*/Debug/
.vs
*.sln
CMakeCache.txt
*.cmake
include/glslang/build_info.h